.apresentacao {
    display: grid;
    gap: 32px;
    justify-content: center;
}

.img-perfil {
    justify-self: center;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.img-perfil img {
    width: 100%;
    border-radius: 4px;
}


.almejos {
    display: grid;
    justify-content: center;
}




@media (max-width:400px) {
    .img-perfil {
        max-width: 200px;
    }
}
